html {
    margin: 0 auto;
    padding: 0;
}
body {
    font-family: 'Lustria';
    font-size: 14px;
    background-color: #e2e0e0;
    margin: 0 auto;
}
header {
    padding: 20px;
    text-align: center;
    color: #bbb;
    border-bottom: 8px solid gray;
    background-color: #333;
}
article {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
}
footer { 
    padding: 12px;
    text-align: center;
    border-top: 8px solid gray;
    background-color: #333;
    color: #bbb;
}
a:link, a:hover, a:active {
    color: #20bcd5;
    text-decoration: none;
}
h1 {
    font-size: 22px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 22px;
    color: #20bcd5;
    text-align: center;
    margin-top: 8px;
}
h3 {
    text-align: center; 
}
header p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
article div {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
footer div {
    margin: 0 auto;
    max-width: 840px;
}
label {
    font-size: 14px;
}
#headline {
    background: url(images/stripes.png);
    margin: 0 auto;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px; 
    border-radius: 50%;
    border: 3px solid #ddd;
    background-color: #efefef;
}
#submit {
    padding: 14px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 2px solid #eee;
    box-shadow: 0px 0px 5px 2px #bbb;
    color: #fff;
    font-family: 'Lustria';
    font-size: 15px;
    background: linear-gradient(top left, #ff7000, #ff00bf);
    /* ptefixes */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px #bbb;
    background: -webkit-linear-gradient(top left, #ff7000, #ff00bf);
    background: -moz-linear-gradient(top left, #ff7000, #ff00bf);
    background: -o-linear-gradient(top left, #ff7000, #ff00bf);
}
#name {
    font-family: 'Clicker Script'; 
    line-height: 0;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

blockquote {
    font-style: italic; 
}
img {
    width: 280px;
}
